.slider {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.icon-slider {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .icon-slider {
    opacity: 1;
}

.slider-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
}

.slider-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-enter-right {
    transform: translateX(100%);
    opacity: 0;
}

.slide-enter-right-active {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit-left {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit-left-active {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-enter-left {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-enter-left-active {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit-right {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit-right-active {
    transform: translateX(100%);
    opacity: 0;
}